# Copy this file to .env and replace the values with your own, especially the SECRET_KEY for Flask.
# Run python -c 'import secrets; print(secrets.token_hex(32))' to generate a secure secret key by running the command in your terminal.
SECRET_KEY=your_secret_key_here
FLASK_ENV=development