
.hero{
    height:350px;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1504674900247-0877df9cc836');
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.search-box{
    margin-top:15px;
    border-radius:30px;
    padding:12px;
}

.card-img-top{
    width:100%;
    height:220px;        
    object-fit:cover;    
    border-radius:10px 10px 0 0;
}
.food-img{
    width:100%;
    height:240px;
    object-fit:cover;
    border-radius:10px 10px 0 0;
}

.food-card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
    display:flex;
    flex-direction:column;
}

.food-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

.food-card .card-body{
    flex-grow:1;
}

.trending-container{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding:10px;
}
.trending-img{
    height:150px;
    width:100%;
    object-fit:cover;
    border-radius:12px;
    transition:0.3s;
}

.trending-img:hover{
    transform:scale(1.08);
}

.footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

.like-btn.liked{
    background:#0d6efd;
    color:white;
}
